.container{
	margin: 0 auto;

	width: 800px;
}

body {
	font-family: Roboto, sans-serif;
	font-size: 17px;
}

/*Хедер*/

.main-header {
	position: relative;
	min-height: 88px;
	margin-bottom: 50px;
	padding-top: 10px;
}

.main-heading {
	font-size: 36px;
}

.add-article-btn {
	font-weight: 200;
	text-align: center;
	color: red;

	background: none;
	border: 2px solid red;
	border-radius: 50%;

	width: 85px;
	height: 85px;

	position: absolute;
	right: 0;
	top: 10px;

	box-sizing: border-box;
	padding-top: 23px;
	text-decoration: none;
}

/*Список статей*/


.article-list {
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.article-container {
	width: 47.5%;
	height: 350px;
	position: relative;

	background-color: cyan;
	margin-bottom: 44px;
    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow: hidden;
    
}

.article-content-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: #fff;
	height: 220px;

	

	box-sizing:border-box;
}

.article-title {
	font-size: 24px;
	margin-bottom: 10px;
}

.article-preview {

	transition: all ease 0.5s;

	display: block;
	margin-top: 15px;
	border-top: 2px solid gray;

	height: 100%;
}

.article-preview a {
	display: block;
	color: #000;
	text-decoration: none;
	line-height: 21px;
	height: 100%;
	padding: 12px 12px;

	overflow: hidden;
	text-overflow: ellipsis;
}

.article-preview:hover {
	transition: all ease 0.5s;
	background-color: rgba(215, 215, 215, 0.9);
}

.article-header-wrapper {
	padding-left: 12px;
	padding-top: 10px;
}

/*Страница статьи*/

.article-body {
	font-size: 20px;
	line-height: 25px;
}

.main-article-title {
	font-size: 36px;
	margin-bottom: 30px;
	margin-top: 40px;
}

.article-image {
	max-width: 100%;
	display: block;
	border-radius: 20px;
	margin-bottom: 20px;
}

.article-paragraph {
	margin-bottom: 25px;
	padding-left: 5px;
}

.article-paragraph:last-child {
	margin-bottom: 50px;
}

.commentary-form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 30px;
}

.commentary-textarea {
	width: 100%;
	height: 60px;
	resize: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 10px;
	border: 1px solid gray;

	padding: 0;
	padding-left: 20px;
	margin: 0 30px;

	line-height: 58px;
	font-size: 18px;
}

.commentary-textarea::placeholder {
	opacity: 0.8;
}

.author-avatar {
	width: 60px;
	height: 60px;

	margin-right: 30px;
}

.current-commentator {
	margin-right: 0;
}

.submit-commentary-btn {
	min-width: 60px;
	height: 60px;


	border-radius: 10px;
	border: none;

	background-color: orange;
	background-image: url(../img/icons/right-arrow.svg);
	background-size: 50%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.commentary-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	margin-bottom: 30px;
}

.commentary-content-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	flex-flow: column;
}

.author {
	font-weight: bold;
}

.commentary-date {
	font-size: 14px;
	color: gray;
}

.commentary-text {
	font-size: 18px;
}

/*Добавление статьи*/

.add-article-title {
	font-size: 36px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.add-article-form label {
	display: block;
	margin-bottom: 15px;
	margin-right: auto;
}

.add-article-form label + .text-input {
	width: 100%;
	margin-bottom: 15px;
	border-radius: 5px;
	border: 1px solid gray;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	font-size: 24px;
}

.new-article-title {
	height: 50px;
	line-height: 50px;
	padding: 0;
	padding-left: 15px;
}

.new-article-text {
	height: 225px;
	resize: none;
	padding: 15px 15px;
}

.new-article-btn {
	height: 50px;
	background-color: gray;
	line-height: 50px;
	color: #fff;
	border: none;
	text-align: center;
	display: block;


	border-radius: 5px;

	font-size: 18px;
	text-decoration: none;
}

.new-article-btn:hover {
	opacity: 0.7;
	cursor: pointer;
}

.new-article-btn:not(.article-image-file) {
	padding: 0 25px;
}

.article-image-file {
	width: 83px;
	margin-right: auto;

	background-image: url(../img/icons/camera-icon.svg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 50%;
	background-size: 50%;
}

.form-footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;
	position: relative;
}

.form-footer label::before {
	display: block;
	position: absolute;
	top: -25px;
	content: "Прикрепить изображение";
}

.visually-hidden {
	display: none;
}

#new-article-text {
	margin-bottom: 40px;
}

.cancel-btn {
	margin-right: 20px;
}

.submit-article-btn {
	background-color: #ff4a33;
}

